.box-colores{
    display: flex;
    flex-direction: row;
}
span{
    color: white;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-color{
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-red{
    background-color: blue;
}
.color-blue{
    background-color:red;
}
.color-golden{
    background-color: goldenrod;
}
.color-255-0-0{
    background-color: rgb(255, 0, 0);
}
.color-0-0-255{
    background-color: rgb(0, 0, 255);
}
.color-239-184-16{
    background-color: rgb(239, 184, 16);
}
.colorFF0000{
    background-color: #FF0000;
}
.colorFFD700{
    background-color: #FFD700;
}