*{
    font-family: sans-serif;
}
.main-box-5{
    margin: 30px auto 0 auto;

    width: 960px;
    display: grid;
    grid-template-columns: repeat(7, 120px);              
}
.nombre-mes{
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: left;
    background-color: red;
    font-size: 1.5em;
    color: white;
    text-align: right;
}
.año{
    text-align:end ;
    height: 100px;
    font-size: 3em;
    background-color: red;
    color: white;
}
.dia-1{
    grid-column-start: 6;
}
.dia-mes{
    text-align: center;
}
.dia-semana1{
    color: red;

}
.box1{
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    height: 70px;
}
.cumple{
    font-size: 0.3em;
    position: relative;
    top: -10px;
    left: 10px;
    color: crimson;
}
