*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(85,7,17,1) 0%, rgba(22,14,18,1) 33%, rgba(18,16,17,1) 97%, rgba(17,17,17,1) 100%, rgba(0,212,255,1) 100%);
    z-index: 10;
}
.mundo{
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 20;
}
.todo{
    display: grid;
    background-color: rgb(17, 17, 17);
    padding-bottom: -50px;
    grid-template: "empty-left logo nav empty-rigth"140px/
                    140px       1fr  1fr      50px;
}
.logo{
    grid-area: logo;
    position: relative;
    top: 0px;
    left: 60px;
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;

}
.JPG{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
nav{
    grid-area: nav;
    position: relative;
    display: flex;
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    font-family: sans-serif, 'Poppins';
  

}
.menu li{
    margin: 60px 20px 20px 20px;
    list-style: none;

}
.menu li a{
    color:white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
}
.main-content{
    padding-top: 200px;
    display:flow-root;

    
}
.primero{
    display: grid;
    grid-template: "empty-left segundo    tercero empty-right"/
                    80px        5fr       4fr    80px ;
}


.segundo{
    width: 820px;
    height: 401px;
    grid-area: segundo;
    margin-right: 20px;
    border-radius: 8px;
    background-color: antiquewhite;

}
.tercero{
    grid-area: tercero;
    display: flex;
    flex-direction: column;


}
.cuarto{
    list-style: none;
    margin: 0;
    transition: .25s ease-out;
    box-shadow: 0 4px 4px rgba(10,10,10,.15);
    border-radius: 8px;
    
}
.quinto{
    display: flex;
    width: 550px;
    height: 120px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}
.quinto:hover{
    border-radius: 4px solid;
}
.text{
    color: white;
    font-size: 1.3em;
    padding: 30px;
}
.img{
    height: 120px;
    width: 300px;
    -webkit-clip-path: polygon(15% 0,100% 0,100% 100%,0 100%);
    clip-path: polygon(15% 0,100% 0,100% 100%,0 100%);
    border-radius: 0 8px 8px 0;
    margin-left: 200px;
    
}
.otp-content{
    background-color: #1f1f1f;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.sexto-2{
    display: grid;
    grid-template: "empty-left  septimo   logotipo empty-right"/
                    100px        5fr       4fr          100px ;

}
.septimo{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
    grid-area: septimo;
    background-color: #1f1f1f;
    display: flex;
}
.logotipo{
    grid-area: logotipo;
    display: flex;
    margin-top: 50px;
    margin-left: 600px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;

}
.icono{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.text-2{
    color: white;
    font-weight: 700;
    font-size: 4em;
}
.sexto{
    display: grid;
    grid-template: "empty-left  octavo   onceavo empty-right"/
                    80px        5fr       4fr    80px ;
}
.octavo{
    margin-top: 100px;
    grid-area: octavo;

}
.noveno{
    list-style: none;
    padding-bottom: 50px;
}
.decimo{
    display: flex;
    width: 670px;
    height: 310px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: black;
}
.decimo7{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(22,14,18,1) 15%, rgba(20,100,101,1) 46%, rgba(19,142,142,1) 100%, rgba(0,139,139,1) 100%, rgba(17,17,17,1) 100%);
}
.decimo8{
    background: linear-gradient(120deg, rgba(246,246,246,1) 0%, rgba(0,0,0,1) 0%, rgba(22,14,18,1) 23%, rgba(49,41,45,1) 31%, rgba(80,74,77,1) 41%, rgba(170,167,169,1) 55%, rgba(255,255,255,1) 67%, rgba(248,248,248,1) 100%, rgba(17,17,17,1) 100%);
}
.decimo9{
background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(170,170,172,1) 100%)
}
.decimo10{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(170,170,172,1) 100%)
}
.decimo11{
    background: linear-gradient(120deg, rgba(15,68,148,1) 0%, rgba(18,16,17,1) 0%, rgba(22,14,18,1) 22%, rgba(15,68,148,1) 47%, rgba(15,68,148,1) 100%, rgba(17,17,17,1) 100%, rgba(0,212,255,1) 100%);
}
.decimo12{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(20,18,19,1) 34%, rgba(24,22,23,1) 41%, rgba(24,24,24,1) 63%, rgba(24,24,24,1) 100%);
}
.img-2{
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 1%, 100% 50%, 100% 100%, 54% 100%, 40% 90%, 45% 0);
    border-radius: 0 8px 8px 0;
}
.onceavo{
    grid-area: onceavo;
    margin-top: 100px;
}
.doce{
    width: 10px;
    height: 100px;
}
.trece{
    width: 10px;
    height: 100px;
}
.ktorce{
    width: 10px;
    height: 100px;
    color: white;

}
