/* general */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
nav ul{
    background-color: rgb(48, 48, 48);
    width: 100%;
    position: absolute;
    list-style: none;
}
nav a{
    color: white;
    width: 61.2%;
    display: block;
    padding: 0 2.5em;
    font-size: 1.2rem;
    text-align: center;
}
nav a:hover{
    background-color: goldenrod;
}
/* menu primer nivel */
nav > ul > li{
    display: inline-block;
    width: 250px;
    line-height: 50px;
}
ul li{
    position: relative;
}
/* menu segundo nivel */
nav li li{
    max-height: 0;
    overflow: hidden;

}
nav li:hover > ul > li{
    visibility: visible;
    max-height: 500px;
    overflow: visible;
    border: 1px solid rgb(255, 255, 255, 0.7) ;
}
/* tercer nivel  */
nav ul ul ul{
    left: 100%;
    top: -1px;
}