*{
    border: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template: "empty-left logo nav empty-rigth"140px/
                    140px       1fr  1fr      50px;
}
.logo{
    grid-area: logo;
    position: relative;
    top: 30px;
    left: 80px;
}
nav{
    grid-area: nav;
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    font-family: sans-serif, 'Poppins';
 
}
.menu li{
    margin: 60px 20px 20px 20px;
    list-style: none;

}
.menu li a{
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.circle{
    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    position: fixed;
    top: 280px;
    right: -950px;
    z-index: 5;
}
.circle-green{
  background-color: rgb(2, 98, 58);
}
.circle-pink{
  background-color: rgb(215, 81, 176);
}
.circle-rose{
  background-color: rgb(213, 104, 146);
}
.main-content{
  display: grid;
  margin-top: 140px;
  grid-template: "empty-left product-text empty-center      img          social-media"/
                  140px     5fr           minmax(0, 300px)  4fr          80px;
}
.social-media{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2em;
  flex-direction: column;
  gap: 40px;
  color: white;
  grid-area: social-media;
  z-index: 10;
  cursor: pointer;
}
.product-text{
  grid-area:product-text ;
}
.product-text span {
  font-weight: 900;
  font-family: sans-serif, 'Poppins';
  color: rgb(2, 104, 64); 

}
.product-text h1 {
  font-size: 5em;
  font-family: sans-serif, 'Poppins';
  font-weight: 500px;
}
.description-text{
  margin-top: 30px;
  color: rgb(96, 96, 93);
  font-family: sans-serif, 'Poppins';
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.img{
  grid-area: img;
  z-index: 10;
}
.button{
  width: 200px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(2, 104, 64);
  color:white;
  font-weight: 700;
  text-align: center;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.botones{
  position: fixed;
  left: 600px;
  bottom: 20px;
  flex-direction: row;
  display: flex;
  margin: 0 20px;
  cursor: pointer;
  width: 100%;
  z-index: 10;
  gap: 40px;
}
.thumb{
  z-index: 20;
  transition: all 0.3s;

}
.thumb:hover{
  transform: translateY(-30px);
}



/*fonts  
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
