*{
    margin: 0;
    padding: 0;
}
.main-content-dark{
    width: 100%;
    background-color: rgb(24, 24,24);
}
.main-content-light{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.box_4_1{
    position: relative;
    width: 190px;
    height: 70px;
    border-radius: 70px;
    z-index: 20;
}
.box_4_1:hover{
    cursor: pointer;
}
.main-box-off{
    background-color: rgb(64,64,64);
    transition: background-color 800ms;
}
.main-box-on {
    background-color: rgb(3, 116, 219);
    transition: background-color 800s;

}
.contenedor-2{
    position: relative;
    top: -35px;
    left: 120px;
    width: 60px;
    height: 60px;
    background-color:whitesmoke;
    border-radius: 55px;
    transition: all 1s;
    z-index: 10
}
.contenedor-1{
    position: relative;
    top: -35px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color:whitesmoke;
    border-radius: 55px;
    transition: all 1s;
    z-index: 11;
}
.text-on, .text-off {
    position: relative;
    font-size: 2.2em;
    left: 10px;
    top: 10px;
    color: white;
    z-index: 5;
}
.text-off{
    left: 60px;
}
.texto-dark{
    width: 80%;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: justify;
    color: black;
}
.texto{
    width: 80%;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: justify;
    color: white;
}
