* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
}
header{
    display: grid;
    grid-template: "ezquirda centro derecha derecha-2" /
                    150px       1fr     80px    80px;
    background-color:rgb(255, 229, 0);
    width: 100%;
}
.carrito{
    grid-area: derecha;
    display: inline;

    margin-top: 20px;
}
.menu{
    grid-area: derecha-2    ;
    display: inline;
    
}
.input{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: centro;
   
}
.main-content{
    display: grid;

}
.box-producto{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template:"box-imagen box-info-producto" /
                    7fr         10fr ;
}
.box-imagen{
    grid-area: box-imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-producto{
    width: 90%;
}
.box-info-producto{
    grid-area: box-info-producto;

}